In [1]:
country = 'US'
print(country)

country = country + 'A'
print(country)

US
USA

In [2]:
# 1차원 배열 : 리스트로 구현시
data = [1,2,3,4,5]
print(data)

[1, 2, 3, 4, 5]

In [4]:
# 2차원 배열 : 리스트 구현시
data=[[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
print(data[0])

[1, 2, 3]

In [6]:
print(data[1])

[4, 5, 6]

In [8]:
print(data[0][0])

1

In [9]:
print(data[0][1])
print(data[1][1])

2
5

In [10]:
### 연습 1: 위의 2차원 배열에서 9,8,7 순서대로 출력해보기
print(data[2][2])
print(data[2][1])
print(data[2][0])

9
8
7

In [11]:
print(data[2][2],data[2][1],data[2][0])

9 8 7

In [12]:
### 연습 2: 다음 dataset에서 전체 이름 안에 M이 몇번 나오는가?
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [15]:
len(dataset)

30

In [19]:
i=0
j=0
for i in range(5):
    for j in range(5):
        j=j+1
    i=i+1
    print('j 변화과정 : ', j)
    print('i 변화과정 : ', i)
print(i, j)

j 변화과정 :  5
i 변화과정 :  1
j 변화과정 :  5
i 변화과정 :  2
j 변화과정 :  5
i 변화과정 :  3
j 변화과정 :  5
i 변화과정 :  4
j 변화과정 :  5
i 변화과정 :  5
5 5

In [23]:
i=0
j=0
count=0


for i in range(30):
    for j in range(len(dataset[i])):
        if str(dataset[i][j]) == 'M':
            count=count+1
            j=j+1
        else:
            j=j+1
    i=i+1

print(count)

38

In [22]:
count=0

for i in range(len(dataset)):
    for j in range(len(dataset[i])):
        if str(dataset[i][j]) == 'M':
            count +=1
print(count)

38

In [24]:
count =0
for data in dataset:
    for index in range(len(data)):
        if data[index]=='M':
            count +=1
print(count)

38